# Folders that are generated when launching the project
*_test
*_test_sort

# Files that are generated when launching the project
*_bijection.txt
*_bijection_sort.txt
tmpDoc.txt

# Yann test files
*ServerYann*

